# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore database files
db.sqlite3

# Ignore static and media files
static_root/
media/

# Ignore environment variables
.env

# Ignore VS Code settings (optional)
.vscode/
